#app {
  display: flex;
  flex-direction: column;
}

#app div.name {
  display: flex;
  justify-content: center;
}

#app div.name h1 {
  font-size: 3.5rem;
  font-weight: 700;
  padding: 3.2rem;
}

#app div.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#app div.input {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 30rem;
}

#app div.input label {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

#app div.input input {
  padding: 0.5rem 0.6rem;
  border-radius: 0.6rem;
  border: none;
}

#app div.form button {
  color: var(--text-color);
  background-color: var(--bg-button);
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.6rem;
  border-bottom: 0.2rem solid var(--bg-button-border);
  padding: 0.8rem 4rem;
}

#app div.waitingOpponent {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app div.board {
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
}

#app div.boarderContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#app div.boarderContainer div.playerInfo {
  height: 3rem;
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
}

#app div.boarderContainer div.circler {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background-color: crimson;
}

#app div.boarderContainer div.circler.currentPlayer {
  background-color: greenyellow;
}

#app div.boarderContainer span.player {
  padding-left: 1rem;
  font-size: 1.3rem;
}

#app div.board div#chessBoard {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 40rem;
  width: 40rem;
  border-radius: 0.3rem;
}

#app div.board div#chessBoard.BLACK {
  flex-direction: row-reverse;
  transform: scaleY(-1);
}

#app div.board div#chessBoard div.cell {
  height: 5rem;
  width: 5rem;
}

#app div.board div#chessBoard div.blackCell {
  background-color: var(--cellBlack);
}

#app div.board div#chessBoard div.whiteCell {
  background-color: var(--cellWhite);
}

#app div.board div#chessBoard button.cellButton {
  position: absolute;
  border: none;
  height: 5rem;
  width: 5rem;
  background-color: transparent;
  z-index: 10;
}

#app div.board div#chessBoard button.cellButton:focus{
  outline-style: none;
}

#app div.board div#chessBoard img.pieceImg {
  height: 5rem;
  transform: rotate(90deg);
}

#app div.board div#chessBoard.BLACK .pieceContainer {
  transform: scaleY(-1);
  display: flex;
}
