#app {
  display: flex;
  flex-direction: column;
}

#app div.name {
  display: flex;
  justify-content: center;
}

#app div.name h1 {
  font-size: 3.5rem;
  font-weight: 700;
  padding: 3.2rem;
}

#app div.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#app div.input {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 30rem;
}

#app div.input label {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

#app div.input input {
  padding: 0.5rem 0.6rem;
  border-radius: 0.6rem;
  border: none;
}

#app div.form button {
  color: var(--text-color);
  background-color: var(--bg-button);
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.6rem;
  border-bottom: 0.2rem solid var(--bg-button-border);
  padding: 0.8rem 4rem;
}

#app div.waitingOpponent {
  display: flex;
  justify-content: center;
}

#app div.board {
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
}

#app div.boarderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app div.boarderContainer label {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#app div.board div#chessBoard {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 32rem;
  width: 32rem;
  border-radius: 0.3rem;
}

#app div.board div#chessBoard.BLACK {
  flex-direction: row-reverse;
  transform: scaleY(-1);
}

#app div.board div#chessBoard div.cell {
  height: 4rem;
  width: 4rem;
}

#app div.board div#chessBoard div.blackCell {
  background-color: var(--cellBlack);
}

#app div.board div#chessBoard div.whiteCell {
  background-color: var(--cellWhite);
}

#app div.board div#chessBoard button.cellButton {
  position: absolute;
  border: none;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  z-index: 10;
}
#app div.board div#chessBoard img.pieceImg {
  height: 4rem;
  transform: rotate(90deg);
}

#app div.board div#chessBoard.BLACK .pieceContainer {
  transform: scaleY(-1);
  display: flex;
}
