#app div.boarderContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#app div.boarderContainer div.playerInfo {
  height: 3rem;
  width: 48rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
}

#app div.boarderContainer div.circler {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background-color: crimson;
}

#app div.boarderContainer div.circler.currentPlayer {
  background-color: greenyellow;
}

#app div.boarderContainer span.player {
  padding-left: 1rem;
  font-size: 1.3rem;
}

#app div.board div#chessBoard {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 48rem;
  width: 48rem;
  border-radius: 0.3rem;
}

#app div.board div#chessBoard.BLACK {
  flex-direction: row-reverse;
  transform: scaleY(-1);
}

#app div.board div#chessBoard div.cell {
  height: 6rem;
  width: 6rem;
  position: relative;
}

#app div.board div#chessBoard div.blackCell {
  background-color: var(--cellBlack);
}

#app div.board div#chessBoard div.whiteCell {
  background-color: var(--cellWhite);
}

#app div.board div#chessBoard button.cellButton {
  position: absolute;
  border: none;
  height: 6rem;
  width: 6rem;
  background-color: transparent;
  z-index: 10;
}

#app div.board div#chessBoard button.cellButton:focus{
  outline-style: none;
}

#app div.board div#chessBoard div.borderCoordinate {
  transform: rotate(90deg);
  position: absolute;
}

#app div.board div#chessBoard div.borderCoordinate.number{
  right: 0.625rem;
}

#app div.board div#chessBoard div.borderCoordinate.letter{
  left: 0.3125rem;
  bottom: 0;
}

#app div.board div#chessBoard div.borderCoordinate.bcBlack{
  color: var(--cellBlack);
}

#app div.board div#chessBoard div.borderCoordinate.bcWhite{
  color: var(--cellWhite);
}

#app div.board div#chessBoard.BLACK div.borderCoordinate.number {
  bottom: 0;
}

#app div.board div#chessBoard.BLACK div.borderCoordinate div{
  transform: scaleX(-1);
}

#app div.board div#chessBoard.BLACK div.borderCoordinate.letter {
  bottom: unset;
}

#app div.board div#chessBoard img.pieceImg {
  height: 6rem;
  transform: rotate(90deg);
}

#app div.board div#chessBoard.BLACK .pieceContainer {
  transform: scaleY(-1);
  display: flex;
}

@media (max-width: 1024px) and (orientation: portrait) {
  #app div.boarderContainer div.playerInfo {
    width: 90vw;
  }

  #app div.board div#chessBoard {
    height: 90vw;
    width: 90vw;
  }

  #app div.board div#chessBoard div.cell {
    height: calc(90vw / 8);
    width: calc(90vw / 8);
  }

  #app div.board div#chessBoard button.cellButton {
    height: calc(90vw / 8);
    width: calc(90vw / 8);
  }

  #app div.board div#chessBoard img.pieceImg {
    height: calc(90vw / 8);
  }

  #app div.board div#chessBoard div.borderCoordinate {
    font-size: 1.1rem;
  }

  #app div.boarderContainer div.playerInfo span {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  #app div.boarderContainer div.playerInfo {
    width: 100vw;
  }

  #app div.board div#chessBoard {
    height: 100vw;
    width: 100vw;
  }

  #app div.board div#chessBoard div.cell {
    height: calc(100vw / 8);
    width: calc(100vw / 8);
  }

  #app div.board div#chessBoard button.cellButton {
    height: calc(100vw / 8);
    width: calc(100vw / 8);
  }

  #app div.board div#chessBoard img.pieceImg {
    height: calc(100vw / 8);
  }

  #app div.board div#chessBoard div.borderCoordinate {
    font-size: 0.8rem;
  }

}

@media (max-width: 540px) and (orientation: portrait){
  #app div.board div#chessBoard div.borderCoordinate {
    font-size: 0.6rem;
  }

  #app div.boarderContainer div.playerInfo span {
    font-size: 1.2rem;
  }

  #app div.boarderContainer div.circler {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 0.35rem;
  }
}

@media (max-width: 360px) and (orientation: portrait){
  #app div.board div#chessBoard div.borderCoordinate {
    font-size: 0.5rem;
  }

  #app div.boarderContainer div.playerInfo span {
    font-size: 0.8rem;
  }
}

@media (max-height: 1024px) and (orientation: landscape) {
  #app div.boarderContainer div.playerInfo {
    width: 90vh;
  }

  #app div.board div#chessBoard {
    height: 90vh;
    width: 90vh;
  }

  #app div.board div#chessBoard div.cell {
    height: calc(90vh / 8);
    width: calc(90vh / 8);
  }

  #app div.board div#chessBoard button.cellButton {
    height: calc(90vh / 8);
    width: calc(90vh / 8);
  }

  #app div.board div#chessBoard img.pieceImg {
    height: calc(90vh / 8);
  }

  #app div.board div#chessBoard div.borderCoordinate {
    font-size: 1.1rem;
  }

  #app div.boarderContainer div.playerInfo span {
    font-size: 1.4rem;
  }
}

@media (max-height: 768px) and (orientation: landscape) {
  #app div.boarderContainer div.playerInfo {
    width: 85vh;
  }

  #app div.board div#chessBoard {
    height: 85vh;
    width: 85vh;
  }

  #app div.board div#chessBoard div.cell {
    height: calc(85vh / 8);
    width: calc(85vh / 8);
  }

  #app div.board div#chessBoard button.cellButton {
    height: calc(85vh / 8);
    width: calc(85vh / 8);
  }

  #app div.board div#chessBoard img.pieceImg {
    height: calc(85vh / 8);
  }

  #app div.board div#chessBoard div.borderCoordinate {
    font-size: 0.8rem;
  }

  #app div.boarderContainer div.playerInfo span {
    font-size: 1.2rem;
  }

}

@media (max-height: 540px) and (orientation: landscape){
  #app div.board div#chessBoard div.borderCoordinate {
    font-size: 1rem;
  }

  #app div.boarderContainer div.playerInfo span {
    font-size: 1.2rem;
  }

  #app div.boarderContainer div.circler {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 0.35rem;
  }

  #app div.board div#chessBoard div.borderCoordinate {
    font-size: 0.6rem;
  }

  #app div.boarderContainer div.playerInfo span {
    font-size: 1rem;
  }
}

@media (max-height: 360px) and (orientation: landscape){
  #app div.board div#chessBoard div.borderCoordinate {
    font-size: 0.5rem;
  }

  #app div.boarderContainer div.playerInfo span {
    font-size: 0.7rem;
  }
}